@use 'sass:color';

@use 'src/styles/mixins/colours' as *;
@use 'src/styles/mixins/fonts' as *;
@use 'src/styles/mixins/links' as *;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: light dark;
  font-size: 120%;
}

html {
  color-scheme: light dark;
}

::selection {
  color: white;
  background: $col-prot;
}


article .content {
  p {
    margin: 0.75em 0;
    @include font-body;
    line-height: 160%;
  }

  h2 {
    padding-bottom: 0.2em;
    margin: 2em 0 1em;
    @include font-body;
    font-weight: normal;
    font-size: 200%;
    border-bottom: 1px solid $col-line;
  }

  h3 {
    margin: 1.5em 0 0.5em;
    @include font-body;
    font-weight: normal;
    font-size: 140%;
    color: $col-text-highlight;
  }

  a {
    @include link-underline();
  }

  strong {
    font-weight: 600;
  }
}


.puzzle table {
  $size: 2em;
  margin: 1em 0;
  border-collapse: collapse;

  th {
    display: none;
  }

  td {
    width: $size;
    height: $size;
    margin: 0;
    position: relative;
    @include font-ui;
    font-weight: 300;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid $col-line;

    em {
      font-size: 50%;
      font-style: normal
    }

    strong {
      font-weight: normal;
      color: $col-prot;

      // &:has(em) {
      //   font-size: 50%;  // prevent `<strong>` from keeping the old larger text height
      // }
    }

    &:has(strong) {
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: $col-prot;
        opacity: 5%;
        z-index: 0;
      }
    }
  }

  td:first-child,
  tr:first-child td,
  td:last-child,
  tr:last-child td {
    font-weight: 400;
    border: none;
  }
}
