$col-prot: light-dark(
  oklch(0.69 0.1184 204.88),
  oklch(0.75 0.1184 204.88));
$col-prot-contrast: light-dark(
  oklch(0.55 0.0913 204.88),
  oklch(0.82 0.1184 204.88));

$col-deut: oklch(0.69 0.1973 34.41);
$col-deut-contrast: oklch(0.6 0.1973 34.41);

$col-text: light-dark(black, white);
$col-text-deut: light-dark(
  oklch(0.69 0.0038 204.88),
  oklch(0.69 0.0038 204.88));
$col-text-highlight: light-dark(
  oklch(0.42 0.1184 254.88),
  oklch(0.9095 0.0401 254.88));

$col-line: oklch(0.8612 0.0028 204.88);
